@model SidebarListViewmodel;
@* <script src="~/js/bootstrap/bootstrap.min.js"></script> *@

@* <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script> *@

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script>
    $(function () {
        $('[data-toggle="popover"]').popover({
            trigger: 'hover' // Set trigger to 'hover'
        });
    });

</script>
<script type="text/javascript">
    $(document).ready(function () {
        const $ = document.querySelectorAll.bind(document);

        $(".focusable, .button").forEach(el => {
            // blur only on mouse click
            // for accessibility, keep focus when keyboard focused
            el.addEventListener("mousedown", e => e.preventDefault());
            el.setAttribute("tabindex", "0");
        });

        $(".session.focusable").forEach(el => {
            el.addEventListener("click", () => {
                const activesession = $(".session.active")[0];
                activesession.classList.remove("active");
                activesession.removeAttribute("aria-selected");

                el.classList.add("active");
                el.setAttribute("aria-selected", true);
            });
        })


    });
</script>
<link href="~/css/zurafworks/sidebar.css" rel="stylesheet" />
@* <main class="container"> *@
<aside class="sessions">

    @if (Model != null && Model.Sessions.Count > 0)
    {
        foreach (var session in Model.Sessions)
        {
            <div onclick="getSession(@session.Id)" class="sessions-collection" data-toggle="popover" title="@session.SessionName" data-trigger="hover" data-content="Popover Content" animation="true">
                <div class="session focusable @(session.Queue == 1 ? "active" : "unread")" role="button" aria-label="Discord Developers unread" @(session.Queue == 1 ? "aria-selected=\"true\"" : "") @* data-toggle="popover" title="Popover title" data-trigger="hover" data-content="Popover Content" *@>
                    <div class="session-icon">@session.Queue</div>
                </div>
            </div>
        }
    }
    <div onclick="openEditFormCustomUrl('/Admin/Session/AddOrUpdate?id=0&&courseId=' + @Model.CourseId)" class="sessions-collection" data-toggle="popover" data-trigger="hover" title="Oturum Ekle">
        <div class="session">
            <div class="session-icon">+</div>
        </div>
    </div>


</aside>


@* </main> *@

@* <div class="sessions-collection">
        <div class="session focusable session-friends unread" role="button" aria-label="Friends unread">
        <div class="session-icon"><svg><use xlink:href="#icon-friends" /></svg></div>
        </div>
        </div> *@

<script type="text/javascript">
    jQuery(document).ready(function ($) {
        var list = @Html.Raw(Json.Serialize(Model.Sessions));
        openEditFormCustomUrl2 = function (controllerUrl) {
            debugger;
            jQuery.get({
                url: controllerUrl,
                type: 'GET',
                // data: { id: id },
                success: function (result) {
                    $('#partialEditContent').html(result);
                    $('#editModal').modal({
                        backdrop: 'static',
                        keyboard: false
                    }).modal('show');;
                },
                error: function () {
                    $.gritter.add({
                        title: 'Hata',
                        text: result.message,
                        class_name: 'gritter-error',
                        sticky: false,
                        time: 5000
                    });
                }
            });
        };


        getSession = function (id) {
            var componentTarget = $("#viewComponentContainerSession")
            getViewComponent(componentTarget, "/Admin/Session/GetSessionViewComponent?id=" + id)
        }

        if (list != null && list.length > 0) {
            debugger;
            getSession(list[0].id)

        }
    });
</script>
