@using turtlearnMVP.WEB.Models.User
@model UserProfileViewModel;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
    /* CONTAINERS */
    .container {
        height: 100%;
        display: flex;
        padding-left: 1vw;
        padding-right: 1vw;
        !important;
        margin-left: unset !important;
        margin-right: unset !important;
    }

    .photo-card-fix {
        min-width: 400px;
    }
</style>
<section class="inner-header bg-holder bg-overlay-black-90">
    <div class="container position-relative">
        <div style="width:90vw; margin-right:3vw;margin-left:3vw; color:black !important;">
            <div class="row align-items-center mb-5">
                <div class="col-md-6 text-center text-md-start mb-2 mb-md-0">
                    <h1 class="breadcrumb-title mb-0 text-white">@Model.UserName</h1>
                </div>
                @* <div class="col-md-6">
                <ol class="breadcrumb d-flex justify-content-center justify-content-md-end ms-auto">
                <li class="breadcrumb-item">
                <a href="index.html"><i class="fas fa-home me-1"></i>Home</a>
                </li>
                <li class="breadcrumb-item active">
                <span>Teacher</span>
                </li>
                <li class="breadcrumb-item active">
                <span>Sara Lisbon</span>
                </li>
                </ol>
                </div> *@
            </div>
        </div>
    </div>
</section>
@* <div style="width:99vw; margin-right:unset;margin:10vw;padding-left:-1vw; color:black !important;"> *@
<div style="width:99vw;">
  
    @* <div style="width:90vw; margin-right:15vw;margin-left:15vw; color:black !important;"> *@
    <section style="margin-left:unset;" class="space-pb teacher-detail">
        @* <div class="container"> *@
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-9">
                <div class="row">
                    <div style="max-width:312px;" class="col-md-5 col-xl-4 position-relative z-index-1 mt-n5">
                        @* <div class=""> *@
                        <img class="img-fluid" src="~/images/avatar/@Model.Picture" alt="">
                        <div class="border border-top-0 py-4 py-sm-5">
                            <ul class="ps-0 mb-0">
                                @if (Model.IsHimself)
                                {
                                    <div style="display:unset !important; margin:" class="col-md-4 widget-title-right">
                                        <button onclick="openEditFormCustomUrl('/User/Update/@Model.Id')" id="addButton" class="btn btn-primary">
                                            <i class="fa fa-pen"></i>   <span style="font-weight:bold">Düzenle</span>
                                        </button>
                                    </div>
                                    <li class="d-flex align-items-center px-4 mb-4">
                                        <i class="flaticon-mail-1 fa-3x mt-2 text-light me-3"></i>
                                        <span class="text-light fw-normal mb-0 auto-newline">@Model.Email</span>
                                    </li>
                                    <li class="d-flex align-items-center px-4 mb-4">
                                        <i class="flaticon-phone fa-3x mt-2 text-light me-3"></i>
                                        <span class=" text-light fw-normal mb-0 auto-newline">@Model.PhoneNumber</span>
                                    </li>
                                }
                                @*   <li class="d-flex align-items-center px-4 mb-4">
                                <i class="flaticon-skype fa-3x mt-2 text-light me-3"></i>
                                <span class="h6 text-light fw-normal mb-0">online.courses</span>
                                </li>
                                <li class="d-flex align-items-center px-4 mb-4">
                                <i class="flaticon-link fa-3x mt-2 text-light me-3"></i>
                                <span class="h6 text-light fw-normal mb-0">https://www.guruma.com</span>
                                </li> *@
                                @*    <li class="d-flex align-items-center px-4">
                                @*  <i class="flaticon-pin-1 fa-3x mt-2 text-light me-3"></i>
                                <span class="h6 text-light fw-normal mb-0">Hamilton Rd. Willoughby, OH</span>

                                </li> *@
                            </ul>
                        </div>
                    </div>
                    @*     <div class="social-icon-round mt-4 mt-sm-5">
                    <ul>
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fab fa-google"></i></a></li>
                    </ul>
                    </div> *@
                    @* </div> *@
                    <div class="col-md-7 col-xl-8 space-sm-pt">
                        <h2>@Model.FirstName @Model.LastName</h2>
                        <span class="text-primary lead fw-bold">Öğrenci</span>
                        <ul class="d-flex ps-0 mb-4 mb-sm-5 mt-4">
                            @*   <li class="d-flex">
                            <a class="btn btn-sm btn-mes me-4" href="#">Message me</a>
                            </li> *@
                          
                        </ul>
                        <p>@Model.Biography</p>
                        @*  <p>The other virtues practice in succession by Franklin were silence, order, resolution, frugality, industry, sincerity, Justice, moderation, cleanliness, tranquility, chastity and humility.</p>
                        <p>For the summary order he followed a little scheme of employing his time each day. From five to seven each morning he spent in bodily personal attention, saying a short prayer, thinking over the day’s business and resolutions, studying and eating breakfast. 12 great free online courses.</p>
                        <p class="mb-4 mb-sm-5">From two to five he worked at his trade. The rest of the evening until 10 he spent in music, or diversion of some sort. The greatest choice of courses In the last thing before retiring was examination of the day. At the age of 79, he ascribed his health to temperance; the acquisition of misfortune to industry and frugality; the confidence of his country to sincerity and justice.</p>
                        <h4 class="mb-4">Courses:</h4>
                        <div class="table-responsive">
                        <table class="table table-striped border mb-4">
                        <thead>
                        <tr>
                        <th>Course name</th>
                        <th>Duration</th>
                        <th>Start date</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                        <td>Stock trading</td>
                        <td>2.5 Years</td>
                        <td>17 February 2020</td>
                        </tr>
                        <tr>
                        <td>Public Speaking</td>
                        <td>1 Years</td>
                        <td>20 April 2020</td>
                        </tr>
                        <tr>
                        <td>Digital Marketing</td>
                        <td>6 Month</td>
                        <td>16 July 2020</td>
                        </tr>
                        <tr>
                        <td>Law</td>
                        <td>5 Years</td>
                        <td>27 August 2020</td>
                        </tr>
                        <tr>
                        <td>Construction</td>
                        <td>1.5 Years</td>
                        <td>01 October2020</td>
                        </tr>
                        <tr>
                        <td>Communication Skills</td>
                        <td>6 Week</td>
                        <td>19 November 2020</td>
                        </tr>
                        <tr>
                        <td>Event Planning</td>
                        <td>3 Years</td>
                        <td>10 December 2020</td>
                        </tr>
                        </tbody>
                        </table>
                        </div>
                        <h4 class="mb-4">Degree:</h4>
                        <p class="mb-4 mb-sm-5">Franklin’s extraordinary success in life and politics can be attributed to his perseverance to overcome his personal liabilities, and his desire to constantly become better. Next time you really want to achieve something, take time to focus on your own personal journal. What is your temptation that is standing in your way to greatness? What can you do to form the habit of becoming a success?</p>
                        <h4 class="mb-4">Experience:</h4>
                        <p>Franklin’s extraordinary success in life and politics can be attributed to his perseverance to overcome his personal liabilities, and his desire to constantly become better.</p>
                        <p class="mb-5">Next time you really want to achieve something, take time to focus on your own personal journal. What is your temptation that is standing in your way to greatness? What can you do to form the habit of becoming a success?</p>
                        <h4 class="mb-4">Courses by the sara lisbon:</h4>
                        <div class="row">
                        @* <div class="col-sm-6 col-xl-4 mb-4 pb-2">
                        <div class="course">
                        <div class="course-img">
                        <img class="img-fluid" src="~/images/course/07.jpg" alt="">
                        <a href="#" class="course-category"><i class="far fa-bookmark"></i>Development</a>
                        </div>
                        <div class="course-info">
                        <div class="course-title">
                        <a href="#">Great thinking devices to help you learn tough topics</a>
                        </div>
                        <div class="course-instructor">
                        by
                        <a href="#">Alice Williams</a>
                        </div>
                        <div class="course-rate-price">
                        <div class="rating">
                        <span>4.4</span>
                        <a href="#">578 Ratings</a>
                        </div>
                        <div class="price">$59</div>
                        </div>
                        </div>
                        </div>
                        </div> *@


                        @*</div> *@
                    </div>
                </div>
            </div>
            @* <div class="col-md-2"></div> *@

            @* </div> *@
            @* </div> *@
    </section>
</div>
<div id="partialEditContent"></div>
@if (false)//rol kontrolü
{
    <div id="viewComponentContainer_slider" class="row">

        <div class="row justify-content-center h-100">
            <div class="col-md-10 text-center my-4 align-self-center" style="color: var(--theme-color);">
                <div class="maintenance-icon mb-4 mb-md-5">
                    <img src="~/images/turtlearn/loading.svg" alt="Loading" class="fa-spin" style="width: 8em; height: 8em; color: var(--theme-color);">
                </div>
                <h5 class="text-primary">Yükleniyor...</h5>

            </div>
        </div>

    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            var componentTarget = $("#viewComponentContainer_slider")
            getViewComponent(componentTarget, "/User/GetSliderViewComponent?teacherId=" + @Model.Id.ToString())

        });
    </script>
}