@model turtlearnMVP.WEB.Models.User.UserRegisterViewModel;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="row my-4 align-items-center">
    <form id="RegisterForm" method="post" onsubmit="return false" asp-controller="User" asp-action="Register">
        <div class="row">
            <div class="mb-3 col-sm-6">
                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", @placeholder = "İsim" })
                @Html.ValidationMessageFor(m => m.FirstName)
            </div>
            <div class="mb-3 col-sm-6">
                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", @placeholder = "Soyisim" })
                @Html.ValidationMessageFor(m => m.LastName)
            </div>
        </div>
        <div class="row">
            <div class="mb-3 col-sm-10">
                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "Kullanıcı Adı" })
                @Html.ValidationMessageFor(m => m.Email)
            </div>
        </div>
        <div class="row">
            <div class="mb-3 col-sm-12">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email" })
                @Html.ValidationMessageFor(m => m.Email)
            </div>
        </div>
        <div class="row">
            <div class="mb-3 col-sm-12">
                @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control", @placeholder = "Telefon Numarası" })
                @Html.ValidationMessageFor(m => m.PhoneNumber)
            </div>
        </div>
        <div class="row">
            <div class="mb-3 col-sm-12">
                @Html.TextBoxFor(m => m.Password, new { @class = "form-control", @placeholder = "Şifre" })
                @Html.ValidationMessageFor(m => m.Password)
            </div>
        </div>
        <div class="row">
            <div class="mb-3 col-sm-12">
                @Html.TextBoxFor(m => m.PasswordCheck, new { @class = "form-control", @placeholder = "Şifre (tekrar)" })
                @Html.ValidationMessageFor(m => m.PasswordCheck)
            </div>
        </div>
    </form>
    <div class="col-sm-2 d-grid">
    </div>
    <div class="col-sm-5">
    </div>
    <div class="col-sm-5">
        <button id="registerButton" class="btn btn-primary">Sign up</button>
    </div>
</div>


<script type="text/javascript">

    $('#registerButton').on('click', function () {
        submitRegisterForm();
    });

    function submitRegisterForm() {
        var formData = $('#RegisterForm').serialize();

        $.ajax({
            url: $('#RegisterForm').attr('action'),
            type: 'POST',
            data: formData,
            success: function (data) {
                if (data != null) {

                    window.alert(data.message);
                    window.location.reload();
                }
            },
            error: function (error) {
                if (error != null) {
                    window.alert(error.message);
                }
            }
        });
    }

</script>


@*
    Tokenle kayıt

    <div class="login-social-media border ps-4 pe-4 pb-4 pt-0 rounded-sm">
    <div class="mb-4 d-block text-center"><b class="bg-white ps-2 pe-2 mt-3 d-block">Sign in with</b></div>
    <div class="row">
    <div class="col-sm-6">
    <a class="btn facebook-bg social-bg-hover d-block mb-3" href="#"><span><i class="fab fa-facebook-f me-2"></i>Login with Facebook</span></a>
    </div>
    <div class="col-sm-6">
    <a class="btn twitter-bg social-bg-hover d-block mb-3" href="#"><span><i class="fab fa-twitter me-2"></i>Login with Twitter</span></a>
    </div>
    <div class="col-sm-6">
    <a class="btn instagram-bg social-bg-hover d-block mb-3 mb-sm-0" href="#"><span><i class="fab fa-instagram me-2"></i>Login with Instagram</span></a>
    </div>
    <div class="col-sm-6">
    <a class="btn linkedin-bg social-bg-hover d-block" href="#"><span><i class="fab fa-linkedin-in me-2"></i>Login with Linkedin</span></a>
    </div>
    </div>
    </div> *@
