@using turtlearnMVP.Domain.Entities
@model Session;

<div class="widgets">
    <h6 class="widget-title">
        <ul class="meta-course">
            <li><i class="fa fa-clock"></i>@Model.StartDate.ToString("HH:MM")</li>
            <li><i class="far fa-calendar"></i>@Model.StartDate.ToString("dd/MM/yyyy")</li>
            <li><i class="fa fa-link"></i><a href="https://localhost:7290/Admin/Chat/@Model.Link">@Model.Link.Trim()</a></li>
        </ul>
    </h6>

    <div class="widget-content">
        <div id="sessionId" style="display:none;">@Model.Id</div>
        <h2> @Model.Name</h2>
        <p class="mb-4 mb-sm-5"> @Model.Description</p>
        
        <div class="table-responsive">
            <table class="table table-striped border mb-4">
                <thead>
                    <tr>
                        <th style="font-weight:bolder;"><i class="far fa-folder-open"></i> Ek İçerikler:</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><i class="fa fa-link"></i><a href="dosya bağlantısı">dosya bağlantısı</a></td>
                        <td>dosya adı</td>
                        <td>dosya açıklaması</td>
                    </tr>
                    <tr>
                        <td><i class="fa fa-link"></i><a href="dosya bağlantısı">dosya bağlantısı</a></td>
                        <td>dosya adı</td>
                        <td>dosya açıklaması</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>
