@using turtlearnMVP.WEB.Areas.Admin.Models
@model CourseDetailViewModel;
<style>
    .role-scroll {
        overflow-y: auto;
        max-height: 70vh;
    }

        .role-scroll::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            border-radius: 10px;
            background-color: #F5F5F5;
        }

        .role-scroll::-webkit-scrollbar {
            width: 12px;
            background-color: #F5F5F5;
        }

        .role-scroll::-webkit-scrollbar-thumb {
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
            background-color: #538662;
        }
</style>
<main class="container">
    <div id="viewComponentContainerSidebar" class="row">
    </div>
    @* <div class="col-md-12 col-xl-12 mt-4 mt-md-0 order-2 order-lg-1"> *@
    @* @await Component.InvokeAsync("Sidebar", new { CourseId = Model.Id }) *@
    @* </div> *@
    <div style="width:90vw; margin-left:3vw; color:black !important;" class="col-md-12 col-xl-12 mt-4 mt-md-0 order-2 order-lg-1">
        <div class="blog-sidebar">
            <div class="widgets">
                <div class="widget">
                    <div class="widget-title">
                        <div class="row">
                            <div class="col-md-4">
                                <h3>
                                    @Model.Name
                                </h3>
                            </div>
                            <div class="col-md-4">
                            </div>
                            <div class="col-md-4 widget-title-right">
                                <h3>
                                    @Model.TeacherName
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row role-scroll">
                    <div class="col-lg-1 mt-5 mt-lg-0"></div>
                    <div class="col-lg-7 mt-5 mt-lg-0">
                        <div id="viewComponentContainerSession" class="row">
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="widgets">
                            <div class="widget">
                                <h6 class="widget-title"><i class="fas fa-graduation-cap"></i>  @Model.CategoryStr</h6>
                                <div class="widget-content">
                                    <div class="custom-control  mb-3">
                                        <label class=""><i class="far fa-bookmark"></i>  @Model.StatusStr</label>
                                    </div>
                                    <div class="custom-control  mb-3">
                                        <label class=""><i class="fa fa-calendar"></i>Başlangıç:  @Model.StartDateStr</label>
                                    </div>
                                    <div class="custom-control  mb-3">
                                        <label class=""><i class="fa fa-calendar"></i>Bitiş:  @Model.EndDateStr</label>
                                    </div>
                                    <div class="custom-control  mb-3">
                                        <label class=""><i class="fa fa-clock"></i>Toplam Ders Süresi:  @Model.TotalHour</label>
                                    </div>

                                </div>
                            </div>
                            <div class="widget widget-serach">
                                <h6 class="widget-title">Yorumlar</h6>
                                <div class="widget-content">
                                    <form class="fill-form" asp-area="Admin" asp-controller="Comment" asp-action="Send" method="post" onsubmit="return false" id="editForma">
                                        @* @Html.HiddenFor(x=>x.) *@
                                        <div class="form-group mb-3">
                                            @if (Model.CommentSendModel != null)
                                            {
                                                @Html.TextAreaFor(m => m.CommentSendModel.Text, new { @class = "form-control form-setting", @placeholder = "Yorum..." })
                                            }
                                        </div>
                                        <button id="saveButtoni" type="button" class="btn btn-primary">Gönder</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                @*  <div class="widget-content">
                <table id="jqGridCourse"></table>
                <div id="jqGridPagerCourse"></div>
                </div> *@

            </div>
        </div>
    </div>
</main>

<script type="text/javascript">
    $(document).ready(function () {

        var componentTarget = $("#viewComponentContainerSidebar")
        getViewComponent(componentTarget, "/Admin/Course/GetSidebarViewComponent?courseId=" + @Model.Id)


        // // Handle click event on the login tab
        // $('#login-tab').on('click', function () {
        //     // Set the value of RegUserTypeId to -1
        //     $('input[name="RegUserTypeId"]').val('-1');
        // });

        // Handle click event on the register tab

        $('#saveButtoni').on('click', function () {
            submitForm(1);
        });

        function submitForm(submitType) {
            // Serialize the form data
            var formData = $('#editForma').serialize();

            var grid = getOperationGrid();
            $.ajax({
                url: "/Admin" + $('#editForma').attr('action'),
                type: 'POST',
                data: formData,
                success: function (result) {
                    $.gritter.add({
                        title: 'Başarılı',
                        text: result.message,
                        class_name: 'gritter-success',
                        sticky: false,
                        time: 5000
                    });
                    reloadGrid(grid);
                    closeModal();
                },
                error: function (result) {
                    $.gritter.add({
                        title: 'Hata',
                        text: result.message,
                        class_name: 'gritter-error',
                        sticky: false,
                        time: 5000
                    });
                }
            });
        }
    });
</script>

<div style="z-index:-999" id="partialEditContent"></div>
