@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor;
@{
    string photo = "https://upload.wikimedia.org/wikipedia/commons/thumb/b/b5/Windows_10_Default_Profile_Picture.svg/1024px-Windows_10_Default_Profile_Picture.svg.png";
    if (User.Identity.IsAuthenticated)
    {
        // HttpContext nesnesi oluşturmak için

        // Çerezi okumak için
        photo = HttpContextAccessor.HttpContext.Request.Cookies["UserProfilePhoto"];

    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - turtlearnMVP.WEB</title>
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/turtlearnMVP.WEB.styles.css" asp-append-version="true" /> *@

    <!-- Favicon -->
    <link rel="shortcut icon" href="images/favicon.ico" />

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <!-- CSS Global Compulsory (Do not remove)-->
    <link rel="stylesheet" href="~/css/font-awesome/all.min.css" />
    <link rel="stylesheet" href="~/css/flaticon/flaticon.css" />
    <link rel="stylesheet" href="~/css/bootstrap/bootstrap.min.css" />

    <!-- Page CSS Implementing Plugins (Remove the plugin CSS here if site does not use that feature) -->
    <link rel="stylesheet" href="~/css/select2/select2.css" />
    <link rel="stylesheet" href="~/css/owl-carousel/owl.carousel.min.css" />
    <link rel="stylesheet" href="~/css/swiper/swiper.min.css" />
    <link rel="stylesheet" href="~/css/magnific-popup/magnific-popup.css" />

    <!-- Template Style -->
    <link rel="stylesheet" href="~/css/style.css" />
    <style>
        .brand-wrapper {
            position: relative;
            display: inline-block;
        }

        .admin-text {
            position: absolute;
            bottom: -10px;
            right: -25px;
        }
    </style>


    <!-- JQGRID -->
    <!-- Include jQuery first -->
    <link href="~/css/datetimepicker/datetimepicker.min.css" rel="stylesheet" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

@*     <script src="~/js/bootstrap/bootstrap.min.js"></script>
    <script src="~/js/datetimepicker/moment-with-locales.js"></script>
    <script src="~/js/datetimepicker/datetimepicker.min.js"></script> *@

    <!-- Include jQuery UI -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/themes/redmond/jquery-ui.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

    <!-- Other CSS files -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/free-jqgrid/4.15.5/css/ui.jqgrid.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.2/dist/sweetalert2.min.css">
    <link href="~/js/jquery-ui-1.12.1.custom/jquery-ui.css" rel="stylesheet" />
    <link href="~/js/jquery-ui-1.12.1.custom/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/js/jquery-ui-1.12.1.custom/jquery-ui.structure.css" rel="stylesheet" />
    <link href="~/js/jquery-ui-1.12.1.custom/jquery-ui.structure.min.css" rel="stylesheet" />
    <link href="~/js/jquery-ui-1.12.1.custom/jquery-ui.theme.css" rel="stylesheet" />
    <link href="~/js/jquery-ui-1.12.1.custom/jquery-ui.theme.min.css" rel="stylesheet" />

    <!-- Include other JavaScript files -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/free-jqgrid/4.15.5/jquery.jqgrid.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.2/dist/sweetalert2.all.min.js"></script>

    <!-- Ensure jQuery.noConflict() is called after jQuery is loaded -->
    <script>var $ = jQuery.noConflict(false);</script>
    <!-- JQGRID -->
    <!-- Gritter.js script -->
    <script src="https://cdn.jsdelivr.net/npm/gritter@1.7.4/js/jquery.gritter.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/gritter@1.7.4/css/jquery.gritter.min.css" rel="stylesheet">
    <script type="text/javascript">
        function reloadGrid(targetGrid) {
            targetGrid.trigger("reloadGrid");
        }

        function setDatePicker(targetElement) {
            try {
                targetElement.datetimepicker({
                    format: 'DD/MM/YYYY',
                    showTimepicker: false
                });
            } catch (error) {
                console.error('Datetimepicker initialization error:', error);
            }
        }
    </script>
</head>
<body>
    <div id="loginOrRegisterPartialZone"></div>
    <!--=================================
    Header -->
    <header class="header header-style-02 header-sticky">
        <nav class="navbar navbar-static-top navbar-expand-lg px-3 px-md-5">
            <div class="container-fluid position-relative px-0">
                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"><i class="fas fa-align-left"></i></button>
                <a class="navbar-brand" href="index.html">
                    <div class="brand-wrapper">
                        <img class="img-fluid" src="~/images/logo-dark.png" alt="logo">
                        <span style="color: black" class="admin-text">admin</span>
                    </div>
                </a>
                <a class="navbar-brand navbar-brand-sticky" href="index.html">
                    <div class="brand-wrapper">
                        <img class="img-fluid" src="~/images/logo.png" alt="logo">
                        <span class="admin-text">admin</span>
                    </div>
                </a>
                <div class="search-category ms-auto">
                    <div class="form-group select-border course-category">
                        <i class="fa fa-th text-primary me-2" aria-hidden="true"></i>
                        <select class=" basic-select">
                            <option selected="selected">Category</option>
                            <option>Design</option>
                            <option>Development</option>
                            <option>Marketing</option>
                            <option>IT & software</option>
                            <option>Photography</option>
                            <option>Music</option>
                            <option>Personal Development</option>
                            <option>Business</option>
                        </select>
                    </div>
                    <input type="text" class="form-control" placeholder="Search Courses...">
                    <button class="search-button" type="submit"> <i class="fa fa-search"></i></button>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="nav-item dropdown active">
                            <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Home<i class="fas fa-chevron-down fa-xs"></i></a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="index.html"><span>Home 01</span></a></li>
                                <li><a class="dropdown-item" href="index-02.html"><span>Home 02</span></a></li>
                                <li><a class="dropdown-item" href="index-03.html"><span>Home 03</span></a></li>
                                <li class="active"><a class="dropdown-item" href="index-04.html"><span>Home 04</span></a></li>
                                <li><a class="dropdown-item" href="index-05.html"><span>Home 05</span></a></li>
                            </ul>
                        </li>
                        <li class="dropdown nav-item">
                            <a class="nav-link" href="javascript:void(0)" data-bs-toggle="dropdown">Course<i class="fas fa-chevron-down fa-xs"></i></a>
                            <ul class="dropdown-menu megamenu dropdown-menu-md">
                                <li>
                                    <div class="row g-0">
                                        <div class="col-sm-6">
                                            <h6 class="nav-title">Course Pages</h6>
                                            <ul class="list-unstyled mt-lg-1">
                                                <li><a class="dropdown-item" href="course-list.html"><span>Course List</span></a></li>
                                                <li><a class="dropdown-item" href="course-list-map.html"><span>Course List With Map</span></a></li>
                                                <li><a class="dropdown-item" href="course-grid.html"><span>Course Gird</span></a></li>
                                                <li><a class="dropdown-item" href="course-grid-map.html"><span>Course Gird With Map</span></a></li>
                                                <li><a class="dropdown-item" href="course-detail-style-01.html"><span>Course Detail Style 01</span></a></li>
                                                <li><a class="dropdown-item" href="course-detail-style-02.html"><span>Course Detail Style 02</span></a></li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-6">
                                            <h6 class="nav-title">Course Pages</h6>
                                            <ul class="list-unstyled mt-lg-1">
                                                <li><a class="dropdown-item" href="course-detail-style-03.html"><span>Course Detail Style 03</span></a></li>
                                                <li><a class="dropdown-item" href="membership-levels.html"><span>Membership Levels</span></a></li>
                                                <li><a class="dropdown-item" href="events.html"><span>Events</span></a></li>
                                                <li><a class="dropdown-item" href="event-detail.html"><span>Event Detail</span></a></li>
                                                <li><a class="dropdown-item" href="teachers.html"><span>Teachers</span></a></li>
                                                <li><a class="dropdown-item" href="teacher-detail.html"><span>Teacher Detail</span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown nav-item">
                            <a class="nav-link" href="javascript:void(0)" data-bs-toggle="dropdown">Pages<i class="fas fa-chevron-down fa-xs"></i></a>
                            <ul class="dropdown-menu megamenu dropdown-menu-lg">
                                <li>
                                    <div class="row g-0">
                                        <div class="col-sm-6 col-md-4">
                                            <h6 class="nav-title">Basic Pages</h6>
                                            <ul class="list-unstyled mt-lg-1">
                                                <li><a class="dropdown-item" href="about-us.html"><span>About us</span></a></li>
                                                <li><a class="dropdown-item" href="contact-us.html"><span>Contact us</span></a></li>
                                                <li><a class="dropdown-item" href="gallery.html"><span>Gallery</span></a></li>
                                                <li><a class="dropdown-item" href="login.html"><span>login</span></a></li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-6 col-md-4">
                                            <h6 class="nav-title">Information Pages</h6>
                                            <ul class="list-unstyled mt-lg-1">
                                                <li><a class="dropdown-item" href="privacy-policy.html"><span>Privacy policy</span></a></li>
                                                <li><a class="dropdown-item" href="terms-and-conditions.html"><span>Terms & conditions</span></a></li>
                                                <li><a class="dropdown-item" href="faqs.html"><span>FAQs</span></a></li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-6 col-md-4">
                                            <h6 class="nav-title">Extra Pages</h6>
                                            <ul class="list-unstyled mt-lg-1">
                                                <li><a class="dropdown-item" href="error-404.html"><span>404 error</span></a></li>
                                                <li><a class="dropdown-item" href="coming-soon.html"><span>Coming soon</span></a></li>
                                                <li><a class="dropdown-item" href="maintenance.html"><span>Maintenance</span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown nav-item">
                            <a class="nav-link" href="javascript:void(0)" data-bs-toggle="dropdown">Blog<i class="fas fa-chevron-down fa-xs"></i></a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="classic-full-width.html"><span>Classic Full width</span></a></li>
                                <li><a class="dropdown-item" href="classic-left-sidebar.html"><span>Classic Left Sidebar</span></a></li>
                                <li><a class="dropdown-item" href="blog-single.html"><span>Blog single</span></a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Shop<i class="fas fa-chevron-down fa-xs"></i></a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="shop.html"><span>Shop</span></a></li>
                                <li><a class="dropdown-item" href="cart.html"><span>Cart</span></a></li>
                                <li><a class="dropdown-item" href="checkout.html"><span>Checkout</span></a></li>
                                <li><a class="dropdown-item" href="shop-single.html"><span>Shop single</span></a></li>
                            </ul>
                        </li>
                        <li><a class="nav-link" href="contact-us.html">Contact us</a></li>
                    </ul>
                </div>
                <div class="woo-action">
                    <ul class="list-unstyled">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <container class="zurafworks-login-button">
                                <li style="margin-right:10px !important; margin-left:20px" class="user">
                                    <a>
                                        @User.Identity.Name
                                        @* <i class="fa fa-user ps-2 text-primary"></i> *@
                                    </a>
                                </li>
                                <li class="cart dropdown">
                                    @* <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img style="width:40px; height40px;object-fit: contain;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b5/Windows_10_Default_Profile_Picture.svg/1024px-Windows_10_Default_Profile_Picture.svg.png" alt="User Photo" /></button> *@
                                    <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img style="width:40px; height40px;object-fit: contain; border-radius:50px;" src="@photo" alt="User Photo" /></button>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                        <ul class="cart-list ps-0">
                                            <li class="d-flex">
                                                <a class="remove-item" href="#"><i class="fas fa-times text-danger"></i></a>
                                                <img class="img-fluid me-3" src="images/shop/01.jpg" alt="">
                                                <div class="cart-info">
                                                    <a href="#">Landscape Visitors Book - 122 Pages, A Design, A4</a>
                                                    <span class="d-block">1 x 12.49</span>
                                                </div>
                                            </li>
                                            <li class="d-flex">
                                                <a class="remove-item" href="#"><i class="fas fa-times text-danger"></i></a>
                                                <img class="img-fluid me-3" src="images/shop/02.jpg" alt="">
                                                <div class="cart-info">
                                                    <a href="#">Leather Visitors Notebook True-Ally A4 Faux</a>
                                                    <span class="d-block">1 x 28.72</span>
                                                </div>
                                            </li>
                                        </ul>
                                        <div class="cart-footer">
                                            <div class="d-flex mb-3">
                                                <b class="me-auto text-dark">Subtotal:</b>
                                                <span>$41.21</span>
                                            </div>
                                            <div class="d-inline-block d-sm-flex">
                                                <a id="logoutBtn" class="btn btn-sm btn-error text-white me-2 px-4" href="#">Log Out</a>
                                                <a class="btn btn-sm btn-dark text-white ms-0 mt-1 mt-sm-0 ms-sm-2 px-4" href="#">Checkout</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                            </container>
                        }
                        else
                        {
                            <container @* style="cursor:pointer; background-color:#d9eee1; padding: 2px; border-radius:50px;" *@ class="zurafworks-login-button" id="loginbtn">
                                <li style="margin-right:10px !important; margin-left:20px" class="user">
                                    <a>
                                        Hello sign in
                                        @* <i class="fa fa-user ps-2 text-primary"></i> *@
                                    </a>
                                </li>
                                <li class="cart dropdown">
                                    <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="cart-icon"><i class="fa fa-user"></i>    </span></button>
                                    @* <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                <ul class="cart-list ps-0">
                                <li class="d-flex">
                                <a class="remove-item" href="#"><i class="fas fa-times text-danger"></i></a>
                                <img class="img-fluid me-3" src="images/shop/01.jpg" alt="">
                                <div class="cart-info">
                                <a href="#">Landscape Visitors Book - 122 Pages, A Design, A4</a>
                                <span class="d-block">1 x 12.49</span>
                                </div>
                                </li>
                                <li class="d-flex">
                                <a class="remove-item" href="#"><i class="fas fa-times text-danger"></i></a>
                                <img class="img-fluid me-3" src="images/shop/02.jpg" alt="">
                                <div class="cart-info">
                                <a href="#">Leather Visitors Notebook True-Ally A4 Faux</a>
                                <span class="d-block">1 x 28.72</span>
                                </div>
                                </li>
                                </ul>
                                <div class="cart-footer">
                                <div class="d-flex mb-3">
                                <b class="me-auto text-dark">Subtotal:</b>
                                <span>$41.21</span>
                                </div>
                                <div class="d-inline-block d-sm-flex">
                                <a class="btn btn-sm btn-primary text-white me-2 px-4" href="#">View cart</a>
                                <a class="btn btn-sm btn-dark text-white ms-0 mt-1 mt-sm-0 ms-sm-2 px-4" href="#">Checkout</a>
                                </div>
                                </div>
                                </div> *@
                                </li>
                            </container>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!--=================================
    Header -->
    @* <header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container-fluid">
    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">turtlearnMVP.WEB</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
    <ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
    </li>
    <li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </li>
    </ul>
    </div>
    </div>
    </nav>
    </header> *@

    @if (ViewBag.Sidebar != null)
    {
        <div style="max-width:100vw !important;" class="container">
            <main role="main" class="pb-3" id="myTab">
                <div id="sidebarMobile" class="row sidebar-mobile">
                    <div class="social-icon-round " role="tablist">
                        <ul>
                            @if (ViewBag.SidebarCourse != null)
                            {
                                <li style="margin-left:50px;">
                                    <a id="course-tab-mobile" data-bs-toggle="tab" href="#courseSection" role="tab" class="active"><i class="fas fa-graduation-cap"></i><span>Kurslar</span></a>
                                </li>
                                <li style="margin-left:50px;">
                                    <a id="enrollment-tab-mobile" data-bs-toggle="tab" href="#enrollmentSection" role="tab"><i class="fas fa-user-plus"></i><span>Başvurular</span></a>
                                </li>
                                <li style="margin-left:50px;">
                                    <a id="student-tab-mobile" data-bs-toggle="tab" href="#studentSection" role="tab"><i class="fas fa-user-check"></i><span>Öğrenciler</span></a>
                                </li>
                                <li style="margin-left:50px;">
                                    <a id="comment-tab-mobile" data-bs-toggle="tab" href="#commentSection" role="tab"><i class="fas fa-comments"></i><span>Yorumlar</span></a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
                <div class="row sidebar-icon-rounded" role="tablist">
                    <div id="sidebarWeb" class="col-md-1 sidebar">
                        <ul style="margin-top:20px;">
                            @if (ViewBag.SidebarCourse != null)
                            {
                                <li>
                                    <a id="course-tab" data-bs-toggle="tab" href="#courseSection" role="tab" class="active">
                                        <i class="fas fa-graduation-cap"></i><span>Kurslar</span>
                                    </a>
                                </li>
                                <li>
                                    <a id="enrollment-tab" data-bs-toggle="tab" href="#enrollmentSection" role="tab">
                                        <i class="fas fa-user-plus"></i><span>Başvurular</span>
                                    </a>
                                </li>
                                <li>
                                    <a id="student-tab" data-bs-toggle="tab" href="#studentSection" role="tab">
                                        <i class="fas fa-user-check"></i><span>Öğrenciler</span>
                                    </a>
                                </li>
                                <li>
                                    <a id="comment-tab" data-bs-toggle="tab" href="#commentSection" role="tab">
                                        <i class="fas fa-comments"></i><span>Yorumlar</span>
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                    <div class="col-md-10">
                        @RenderBody()
                    </div>
                </div>
                <div class="col-md-1">
                </div>
            </main>
        </div>
    }
    else
    {
        <div style="max-width:90vw !important;" class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

    }
    @* <footer class="border-top footer text-muted">
    <div class="container">
    &copy; 2023 - turtlearnMVP.WEB - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
    </footer> *@

    <!--=================================
            Back To Top -->
    <div id="back-to-top" class="back-to-top">
        <a href="#"><i class="fas fa-chevron-up"></i></a>
    </div>
    <!--=================================
    Back To Top -->
    <!--=================================
    Javascript -->
    <!-- JS Global Compulsory (Do not remove)-->
    <script src="~/js/jquery-3.6.0.min.js"></script>
    <script src="~/js/popper/popper.min.js"></script>
    <script src="~/js/bootstrap/bootstrap.min.js"></script>

    <!-- Page JS Implementing Plugins (Remove the plugin script here if site does not use that feature)-->
    <script src="~/js/jquery.appear.js"></script>
    <script src="~/js/select2/select2.full.js"></script>
    <script src="~/js/owl-carousel/owl.carousel.min.js"></script>
    <script src="~/js/shuffle/shuffle.min.js"></script>
    <script src="~/js/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Template Scripts (Do not remove)-->
    <script src="~/js/custom.js"></script>
    <script type="text/javascript">

        
        function setGridWidth(targetGrid) {
            var widgetContainer = targetGrid.closest('.widget-content');
            var containerWidth = widgetContainer.width();
            targetGrid.jqGrid('setGridWidth', containerWidth);
        }

       

        $(document).on('click', '#loginbtn', function () {

            $.ajax({
                url: '/User/LoginOrRegisterPartial',
                type: 'GET',
                // data: { id: item.Id },
                success: function (result) {
                    $('#loginOrRegisterPartialZone').html(result);
                    $('#loginModal').modal('show');

                },
                error: function () {
                    console.error('Error loading partial view');
                }
            });


        });


        $(document).on('click', '#logoutBtn', function () {
            // var row = $(this).closest('tr.jqgrow');
            // var rowId = row.attr('id');
            debugger;

            // $("#partialZoneContent").load("/User/Login");
            $.ajax({
                url: '/User/Logout',
                type: 'POST',
                // data: { id: item.Id },
                success: function (data) {
                    window.alert(data.message);
                    window.location.reload();
                },
                error: function () {
                    // console.error('Error loading partial view');
                }
            });


        });
        $(document).ready(function () {
            // Initial toggle on page load
            toggleSidebarVisibility();
            openEditForm = function (controllerUrl, id, targetGrid) {
;
                $.ajax({
                    url: controllerUrl + '/AddOrUpdate',
                    type: 'GET',
                    data: { id: id },
                    success: function (result) {
                        $('#partialEditContent').html(result);
                        $('#editModal').modal('show');
                    },
                    error: function () {
                        $.gritter.add({
                            title: 'Hata',
                            text: result.message,
                            class_name: 'gritter-error',
                            sticky: false,
                            time: 5000
                        });
                    }
                });
            };

            deleteRow = function (controllerUrl, id, targetGrid) {

                $.ajax({
                    url: controllerUrl + '/Delete',
                    type: 'GET',
                    data: { id: id },
                    success: function (result) {
                        // var grid = getOperationGrid();
                        reloadGrid(targetGrid);
                        $.gritter.add({
                            title: 'Başarılı',
                            text: result.message,
                            class_name: 'gritter-success',
                            sticky: false,
                            time: 5000
                        });
                    },
                    error: function () {
                        $.gritter.add({
                            title: 'Hata',
                            text: result.message,
                            class_name: 'gritter-error',
                            sticky: false,
                            time: 5000
                        });
                    }
                });
            };


            function toggleSidebarVisibility() {
                var windowWidth = $(window).width();
                if (windowWidth < 760) {
                    $("#sidebarWeb").hide();
                    $("#sidebarMobile").show();
                } else {
                    $("#sidebarWeb").show();
                    $("#sidebarMobile").hide();
                }
            }

            $(window).on("resize", function () {
                toggleSidebarVisibility();
            });

            $(document).ready(function () {

                function switchTab(tabId, buttonId) {
                    $('.tab-pane').hide();

                    $('[data-bs-toggle="tab"]').removeClass('active');

                    $(tabId).show();

                    $(buttonId).addClass('active');
                }

                switchTab($('.tab-pane.show.active'));

                $('[data-bs-toggle="tab"]').on('click', function (e) {
                    e.preventDefault();

                    var tabId = $(this).attr('href');
                    var buttonId = $(this).attr('id');

                    switchTab(tabId, '#' + buttonId);
                });

               

            });

           
        });


    </script>
    @* <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script> *@
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
